.menu {
    background: #252525;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;

    &.open {
        max-height: 100vh;
    }

    .item {
        color: #FFFFFF;
        font-size: 18px;
        padding: 8px 15px;
        display: flex;
        justify-content: center;

        &:hover {
            color: #000000;
            background-color: #FFFFFF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        &.active {
            color: #000000;
            background-color: #FFFFFF;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
    }
}
