.menu {
    background: #252525;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;

    &.open {
        max-height: 100vh;
    }

    .item {
        color: #FFFFFF;
        font-size: 18px;
        padding: 12px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.1s ease-out;

        &:hover {
            color: #000000;
            background-color: #FFFFFF;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
            z-index: 1;

            .instagramIcon {
                fill: #000000;
                stroke: #000000;
            }
        }

        &.active {
            color: #000000;
            background-color: #FFFFFF;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
            z-index: 1;
        }

        a {
            text-decoration: inherit;
            color: inherit;
        }

        .instagramIcon {
            margin-left: 6px;
            height: 20px;
            width: 20px;
            fill: #FFFFFF;
        }
    }    
}
