.about {
    display: flex;
    justify-content: center;
    
    .content {
        max-width: 700px;
        display: flex;
        flex-wrap: wrap;

        .imageContainer {
            &>.image {
                width: 100%;
                height: auto;
            }
        }

        .text {
            color: #000000;
            margin: 20px;

            &.heading {
                font-size: 30px;
                font-weight: 700;

                &.textAfter {
                    margin-bottom: 0;
                }
            }
        }
    }
}
